Name: Adil Khan   
Roll no: 2330-0030   
Department: BS AI

# Contents:

Pandas:
1. Intro
2. Pandas Series
3. Pandas Dataframe
4. Indexing and Slicing DataFrames
5. Data Manipulation
9. Input/Output Operations

## 1. Intro

### 1.1. Installation

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### 1.2. Importing

In [ ]:
import pandas as pd

## 2. Pandas Series
A Series is a one-dimensional labeled array capable of holding any data type. It can be created from a list, NumPy array, or dictionary.

### 2.1. Creating a Series

In [ ]:
import pandas as pd

# From a list
s = pd.Series([10, 20, 30, 40])
print(s)

# From a dictionary
s_dict = pd.Series({'a': 10, 'b': 20, 'c': 30})
print(s_dict)

print(type(s))

0    10
1    20
2    30
3    40
dtype: int64
a    10
b    20
c    30
dtype: int64
<class 'pandas.core.series.Series'>

## 3. Pandas DataFrame
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types, similar to a spreadsheet.

### 3.1. Creating a DataFrame

In [ ]:
# From a dictionary of lists
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)
print(df,"\n")

# From a list of lists
data = [['Alice', 25, 50000], ['Bob', 30, 60000], ['Charlie', 35, 70000]]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Salary'])
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

## 4. Indexing and Slicing DataFrames
You can access specific rows and columns in a DataFrame using various methods like .loc[], .iloc[], or direct indexing.

### 4.1. Accessing columns

In [ ]:
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [ ]:
# Set the index to the 'name' column
df = df.set_index('Name')
df

         Age  Salary
Name
Alice     25   50000
Bob       30   60000
Charlie   35   70000

In [ ]:
print(df['Salary'])  # Access 'Name' column

Name
Alice      50000
Bob        60000
Charlie    70000
Name: Salary, dtype: int64

### 4.2. Accessing rows

In [ ]:
print(df.loc["Alice"],"\n")  # Access row with label Alice
print(df.iloc[2])  # Access row by position 1

Age          25
Salary    50000
Name: Alice, dtype: int64

Age          35
Salary    70000
Name: Charlie, dtype: int64

### 4.3. Accessing specific elements

In [ ]:
print(df.loc["Alice", 'Salary'])  # Access value in row "Alice", 'Salary' column

50000

Print the salary of 3rd row using row position == 1 by using iloc

## 5. Data Manipulation

### 5.1. Filtering Rows

In [ ]:
df

         Age  Salary
Name
Alice     25   50000
Bob       30   60000
Charlie   35   70000

In [ ]:
# Filter rows where Age > 25
df_filtered = df[df['Age'] > 25]
print(df_filtered)

         Age  Salary
Name
Bob       30   60000
Charlie   35   70000

### 5.2. Add a new column

In [ ]:
df['Experience'] = [2, 5, 7]
print(df)

         Age  Salary  Experience
Name
Alice     25   50000           2
Bob       30   60000           5
Charlie   35   70000           7

### 5.3. Remove a column

In [ ]:
df = df.drop('Experience', axis=1)
print(df)

         Age  Salary
Name
Alice     25   50000
Bob       30   60000
Charlie   35   70000

### 5.4. Rename columns

In [ ]:
df = df.rename(columns={'Salary': 'Employee Salary', 'Age': 'Employee Age'})
print(df)

         Employee Age  Employee Salary
Name
Alice              25            50000
Bob                30            60000
Charlie            35            70000

### 5.5. Sort by a column

In [ ]:
df_sorted = df.sort_values(by='Employee Salary', ascending=False) # descending
print(df_sorted)

         Employee Age  Employee Salary
Name
Charlie            35            70000
Bob                30            60000
Alice              25            50000

In [ ]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Salary': [50000, 60000]})
print(df1,"\n")
print(df2)

    Name  Age
0  Alice   25
1    Bob   30

    Name  Salary
0  Alice   50000
1    Bob   60000

### 8.2. Concatenating DataFrames

In [ ]:
df_concat = pd.concat([df1, df2], axis=1)
print(df_concat)

    Name  Age   Name  Salary
0  Alice   25  Alice   50000
1    Bob   30    Bob   60000

## 9. Input/Output Operations
Pandas can read from and write to various file formats such as CSV, Excel, JSON, and more.

### 9.1. Reading from CSV

In [ ]:
df_csv = pd.read_csv('iris.csv')
print(df_csv)

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### 9.2. Writing to CSV

In [ ]:
df

         Employee Age  Employee Salary
Name
Alice              25            50000
Bob                30            60000
Charlie            35            70000

In [ ]:
df.to_csv('output.csv', index=True)

## 10. Some Important Functions

In [ ]:
# Load dataset
df = pd.read_csv('iris.csv')

# Display first 5 rows
print(df.head())

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
print(df.tail(7)) # last five rows

     sepal length  sepal width  petal length  petal width           class
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [ ]:
# Basic statistics
print(df.describe())

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# Filter by condition
df_filtered = df[df['sepal length'] > 5.0]
print(df_filtered)

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[118 rows x 5 columns]

# Excercise

### Task 1
Load homelessness dataframe from homelessness.csv.
Print head(), tail(), info(), shape, describe(). You can make as many cells as you want

In [ ]:
homelessness = pd.read_csv("homelessness.csv",index_col=0)
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
homelessness.tail()
homelessness.info()
homelessness.shape
homelessness.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

### Task 2
Print a 2D NumPy array of the values in homelessness by using (homelessness.values)
Print the column names of homelessness by using (homelessness.columns)
Print the index of homelessness (homelessness.index)

In [ ]:
import numpy as np
print(homelessness.values)

print(homelessness.columns)

print(homelessness.index)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')

### Task 3
Sort homelessness by the number of homeless individuals in the individuals column, from smallest to largest, and save this as homelessness_ind.
Print the head of the sorted DataFrame.

In [ ]:

homelessness_ind = homelessness.sort_values("individuals")

print(homelessness_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

### Task 4
Sort homelessness by the number of homeless family_members in descending order, and print the head

In [ ]:
homelessness_fam = homelessness.sort_values("family_members", ascending=False)

print(homelessness_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

### Sorting by multiple columns
In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

### Example
Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.

In [ ]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region","family_members"],ascending = [True,False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

### Task 5
Create a Series called individuals that contains only the individuals column of homelessness. Print the head only.

In [ ]:
individuals = homelessness["individuals"]

print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

### Task 6
Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order. Print the head only.

In [ ]:
state_fam = homelessness[["state", "family_members"]]

print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

### Task 7
Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [ ]:
ind_gt_10k = homelessness[homelessness["individuals"] > 10000]

print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

### Task 8
Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [ ]:
mountain_reg = homelessness[homelessness["region"] == "Mountain"]

print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

### Task 9
Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [ ]:
fam_lt_1k_pac = homelessness[
    (homelessness["family_members"] < 1000) &
    (homelessness["region"] == "Pacific")
]

print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

### Task 10
Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.

In [ ]:
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

print(homelessness.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total
0    3434.0
1    2016.0
2    9865.0
3    2712.0
4  129972.0

### Task 11
Add another column to homelessness, named p_homeless, containing the proportion of the total homeless population to the total population in each state state_pop.

In [ ]:
homelessness["p_homeless"] = homelessness["total"] / homelessness["state_pop"]

print(homelessness.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total  p_homeless
0    3434.0    0.000703
1    2016.0    0.002742
2    9865.0    0.001378
3    2712.0    0.000901
4  129972.0    0.003294

### Task 12
* Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
* Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
* Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [ ]:
homelessness["indiv_per_10k"] = (homelessness["individuals"] / homelessness["state_pop"]) * 10000

high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

result = high_homelessness_srt[["state", "indiv_per_10k"]]

print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

# Slicing and Indexing Data frames

Setting and removing indexes
pandas allows you to designate columns as an index. This enables cleaner code when taking subsets (as well as providing more efficient lookup under some circumstances).

In this chapter, you'll be exploring temperatures, a DataFrame of average temperatures in cities around the world

In [ ]:
temperatures = pd.read_csv('temperatures.csv',index_col=False)
temperatures = temperatures.drop(columns=['Unnamed: 0'])
temperatures.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Cte D'Ivoire      27.293
1  2000-02-01  Abidjan  Cte D'Ivoire      27.685
2  2000-03-01  Abidjan  Cte D'Ivoire      29.061
3  2000-04-01  Abidjan  Cte D'Ivoire      28.162
4  2000-05-01  Abidjan  Cte D'Ivoire      27.547

* Look at temperatures.
* Set the index of temperatures to "city", assigning to temperatures_ind.
* Look at temperatures_ind. How is it different from temperatures?
* Reset the index of temperatures_ind, keeping its contents.
* Reset the index of temperatures_ind, dropping its contents.

In [ ]:
# Look at temperatures
print(temperatures)

             date     city        country  avg_temp_c
0      2000-01-01  Abidjan  Cte D'Ivoire      27.293
1      2000-02-01  Abidjan  Cte D'Ivoire      27.685
2      2000-03-01  Abidjan  Cte D'Ivoire      29.061
3      2000-04-01  Abidjan  Cte D'Ivoire      28.162
4      2000-05-01  Abidjan  Cte D'Ivoire      27.547
...           ...      ...            ...         ...
16495  2013-05-01     Xian          China      18.979
16496  2013-06-01     Xian          China      23.522
16497  2013-07-01     Xian          China      25.251
16498  2013-08-01     Xian          China      24.528
16499  2013-09-01     Xian          China         NaN

[16500 rows x 4 columns]

In [ ]:
# Set the index of temperatures to city
temperatures_ind = temperatures.set_index("city")

# Look at temperatures_ind
print(temperatures_ind)

               date        country  avg_temp_c
city
Abidjan  2000-01-01  Cte D'Ivoire      27.293
Abidjan  2000-02-01  Cte D'Ivoire      27.685
Abidjan  2000-03-01  Cte D'Ivoire      29.061
Abidjan  2000-04-01  Cte D'Ivoire      28.162
Abidjan  2000-05-01  Cte D'Ivoire      27.547
...             ...            ...         ...
Xian     2013-05-01          China      18.979
Xian     2013-06-01          China      23.522
Xian     2013-07-01          China      25.251
Xian     2013-08-01          China      24.528
Xian     2013-09-01          China         NaN

[16500 rows x 3 columns]

In [ ]:
# Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index("city"))

          city        date        country  avg_temp_c
0      Abidjan  2000-01-01  Cte D'Ivoire      27.293
1      Abidjan  2000-02-01  Cte D'Ivoire      27.685
2      Abidjan  2000-03-01  Cte D'Ivoire      29.061
3      Abidjan  2000-04-01  Cte D'Ivoire      28.162
4      Abidjan  2000-05-01  Cte D'Ivoire      27.547
...        ...         ...            ...         ...
16495     Xian  2013-05-01          China      18.979
16496     Xian  2013-06-01          China      23.522
16497     Xian  2013-07-01          China      25.251
16498     Xian  2013-08-01          China      24.528
16499     Xian  2013-09-01          China         NaN

[16500 rows x 4 columns]

In [ ]:
# Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

             date        country  avg_temp_c
0      2000-01-01  Cte D'Ivoire      27.293
1      2000-02-01  Cte D'Ivoire      27.685
2      2000-03-01  Cte D'Ivoire      29.061
3      2000-04-01  Cte D'Ivoire      28.162
4      2000-05-01  Cte D'Ivoire      27.547
...           ...            ...         ...
16495  2013-05-01          China      18.979
16496  2013-06-01          China      23.522
16497  2013-07-01          China      25.251
16498  2013-08-01          China      24.528
16499  2013-09-01          China         NaN

[16500 rows x 3 columns]

### Task 13
Given a list called cities that contains "Moscow" and "Saint Petersburg".
Use [] subsetting to filter temperatures for rows where the city column takes a value in the cities list.

In [ ]:
cities = ["Moscow", "Saint Petersburg"]

### Subsetting with .loc[]
The killer feature for indexes is .loc[]: a subsetting method that accepts index values. When you pass it a single argument, it will take a subset of rows.

The code for subsetting using .loc[] can be easier to read than standard square bracket subsetting, which can make your code less burdensome to maintain.

### Task 14 (solved)
Use .loc[] subsetting to filter temperatures_ind for rows where the city is in the cities list.

In [ ]:
# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

                        date country  avg_temp_c
city
Moscow            2000-01-01  Russia      -7.313
Moscow            2000-02-01  Russia      -3.551
Moscow            2000-03-01  Russia      -1.661
Moscow            2000-04-01  Russia      10.096
Moscow            2000-05-01  Russia      10.357
...                      ...     ...         ...
Saint Petersburg  2013-05-01  Russia      12.355
Saint Petersburg  2013-06-01  Russia      17.185
Saint Petersburg  2013-07-01  Russia      17.234
Saint Petersburg  2013-08-01  Russia      17.153
Saint Petersburg  2013-09-01  Russia         NaN

[330 rows x 3 columns]

### Task 15 (solved)
* Use Boolean conditions, not .isin() or .loc[], and the full date "yyyy-mm-dd", to subset temperatures for rows where the date column is in 2010 and 2011 and print the results.
* Set the index of temperatures to the date column and sort it.
* Use .loc[] to subset temperatures_ind for rows in 2010 and 2011.
* Use .loc[] to subset temperatures_ind for rows from August 2010 to February 2011.

In [ ]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-31")]
print(temperatures_bool)

# Set date as the index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()
print(temperatures_ind)

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08":"2011-02"])

             date     city        country  avg_temp_c
120    2010-01-01  Abidjan  Cte D'Ivoire      28.270
121    2010-02-01  Abidjan  Cte D'Ivoire      29.262
122    2010-03-01  Abidjan  Cte D'Ivoire      29.596
123    2010-04-01  Abidjan  Cte D'Ivoire      29.068
124    2010-05-01  Abidjan  Cte D'Ivoire      28.258
...           ...      ...            ...         ...
16474  2011-08-01     Xian          China      23.069
16475  2011-09-01     Xian          China      16.775
16476  2011-10-01     Xian          China      12.587
16477  2011-11-01     Xian          China       7.543
16478  2011-12-01     Xian          China      -0.490

[2400 rows x 4 columns]
                 city        country  avg_temp_c
date
2000-01-01    Abidjan  Cte D'Ivoire      27.293
2000-01-01     Lahore       Pakistan      12.792
2000-01-01   Tangshan          China      -5.406
2000-01-01      Gizeh          Egypt      12.669
2000-01-01    Lakhnau          India      15.152
...               ...            ...         ...
2013-09-01    Nanjing          China         NaN
2013-09-01  New Delhi          India         NaN
2013-09-01   New York  United States      17.408
2013-09-01     Peking          China         NaN
2013-09-01       Xian          China         NaN

[16500 rows x 3 columns]
                  city    country  avg_temp_c
date
2010-01-01  Faisalabad   Pakistan      11.810
2010-01-01   Melbourne  Australia      20.016
2010-01-01   Chongqing      China       7.921
2010-01-01   So Paulo     Brazil      23.738
2010-01-01   Guangzhou      China      14.136
...                ...        ...         ...
2010-12-01     Jakarta  Indonesia      26.602
2010-12-01       Gizeh      Egypt      16.530
2010-12-01      Nagpur      India      19.120
2010-12-01      Sydney  Australia      19.559
2010-12-01    Salvador     Brazil      26.265

[1200 rows x 3 columns]
                     city        country  avg_temp_c
date
2010-08-01       Calcutta          India      30.226
2010-08-01           Pune          India      24.941
2010-08-01          Izmir         Turkey      28.352
2010-08-01        Tianjin          China      25.543
2010-08-01         Manila    Philippines      27.101
...                   ...            ...         ...
2011-01-01  Dar Es Salaam       Tanzania      28.541
2011-01-01        Nairobi          Kenya      17.768
2011-01-01    Addis Abeba       Ethiopia      17.708
2011-01-01        Nanjing          China       0.144
2011-01-01       New York  United States      -4.463

[600 rows x 3 columns]

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'country': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA'],
    'avg_temp_c': [12.3, 18.7, 11.2, 21.3, 23.0, 13.1, 20.8, 18.9, 22.5, 15.5],
    'population_million': [8.4, 3.9, 2.7, 2.3, 1.7, 1.6, 1.5, 1.4, 1.3, 1.0],
    'gdp_per_capita_usd': [84200, 85000, 65200, 70600, 69000, 61000, 58000, 59000, 60200, 62500]
}

temperatures = pd.DataFrame(data)

# Displaying the DataFrame
print(temperatures)

           city country  avg_temp_c  population_million  gdp_per_capita_usd
0      New York     USA        12.3                 8.4               84200
1   Los Angeles     USA        18.7                 3.9               85000
2       Chicago     USA        11.2                 2.7               65200
3       Houston     USA        21.3                 2.3               70600
4       Phoenix     USA        23.0                 1.7               69000
5  Philadelphia     USA        13.1                 1.6               61000
6   San Antonio     USA        20.8                 1.5               58000
7     San Diego     USA        18.9                 1.4               59000
8        Dallas     USA        22.5                 1.3               60200
9      San Jose     USA        15.5                 1.0               62500

### Task 16 (using iloc)
* Get the 23rd row, 2nd column (index 22, 1):
* Use slicing to get the first 5 rows:
* Use slicing to get columns 3 to 4:
* Get the first 5 rows, and columns 3 to 4

In [ ]:
value_23_2 = temperatures.iloc[22, 1]
print(value_23_2)

first_5_rows = temperatures.iloc[:5]
print(first_5_rows)

cols_3_4 = temperatures.iloc[:, 2:4]
print(cols_3_4)

subset = temperatures.iloc[:5, 2:4]
print(subset)

Abidjan
         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Cte D'Ivoire      27.293
1  2000-02-01  Abidjan  Cte D'Ivoire      27.685
2  2000-03-01  Abidjan  Cte D'Ivoire      29.061
3  2000-04-01  Abidjan  Cte D'Ivoire      28.162
4  2000-05-01  Abidjan  Cte D'Ivoire      27.547
             country  avg_temp_c
0      Cte D'Ivoire      27.293
1      Cte D'Ivoire      27.685
2      Cte D'Ivoire      29.061
3      Cte D'Ivoire      28.162
4      Cte D'Ivoire      27.547
...              ...         ...
16495          China      18.979
16496          China      23.522
16497          China      25.251
16498          China      24.528
16499          China         NaN

[16500 rows x 2 columns]
         country  avg_temp_c
0  Cte D'Ivoire      27.293
1  Cte D'Ivoire      27.685
2  Cte D'Ivoire      29.061
3  Cte D'Ivoire      28.162
4  Cte D'Ivoire      27.547

### Task 17 (using loc)
***.loc is used for label-based indexing.***
* Select row where city is 'Chicago'
* Select only 'city' and 'avg_temp_c' columns
* Get the first 5 rows and only 'city' and 'population_million' columns

In [ ]:
import pandas as pd

# Re-creating the sample DataFrame with the correct columns for Task 17
data = {
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'country': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA'],
    'avg_temp_c': [12.3, 18.7, 11.2, 21.3, 23.0, 13.1, 20.8, 18.9, 22.5, 15.5],
    'population_million': [8.4, 3.9, 2.7, 2.3, 1.7, 1.6, 1.5, 1.4, 1.3, 1.0],
    'gdp_per_capita_usd': [84200, 85000, 65200, 70600, 69000, 61000, 58000, 59000, 60200, 62500]
}

temperatures = pd.DataFrame(data)

# Select row where city is 'Chicago'
chicago_row = temperatures.loc[temperatures["city"] == "Chicago"]
print(chicago_row)

# Select only 'city' and 'avg_temp_c' columns
city_temp = temperatures.loc[:, ["city", "avg_temp_c"]]
print(city_temp)

# Get the first 5 rows and only 'city' and 'population_million' columns
first5_city_pop = temperatures.loc[:4, ["city", "population_million"]]
print(first5_city_pop)

      city country  avg_temp_c  population_million  gdp_per_capita_usd
2  Chicago     USA        11.2                 2.7               65200
           city  avg_temp_c
0      New York        12.3
1   Los Angeles        18.7
2       Chicago        11.2
3       Houston        21.3
4       Phoenix        23.0
5  Philadelphia        13.1
6   San Antonio        20.8
7     San Diego        18.9
8        Dallas        22.5
9      San Jose        15.5
          city  population_million
0     New York                 8.4
1  Los Angeles                 3.9
2      Chicago                 2.7
3      Houston                 2.3
4      Phoenix                 1.7

In [ ]:
import pandas as pd
import numpy as np

# Creating a sample DataFrame with null values
data = {
    'city': ['New York', 'Los Angeles', np.nan, 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', np.nan, 'Dallas', 'San Jose'],
    'avg_temp_c': [12.3, 18.7, np.nan, 21.3, 23.0, 13.1, 20.8, 18.9, np.nan, 15.5],
    'population_million': [8.4, 3.9, 2.7, np.nan, 1.7, 1.6, 1.5, 1.4, 1.3, np.nan],
    'gdp_per_capita_usd': [84200, 85000, np.nan, 70600, 69000, np.nan, 58000, 59000, np.nan, 62500]
}

temperatures = pd.DataFrame(data)

# Displaying the DataFrame
print(temperatures)

           city  avg_temp_c  population_million  gdp_per_capita_usd
0      New York        12.3                 8.4             84200.0
1   Los Angeles        18.7                 3.9             85000.0
2           NaN         NaN                 2.7                 NaN
3       Houston        21.3                 NaN             70600.0
4       Phoenix        23.0                 1.7             69000.0
5  Philadelphia        13.1                 1.6                 NaN
6   San Antonio        20.8                 1.5             58000.0
7           NaN        18.9                 1.4             59000.0
8        Dallas         NaN                 1.3                 NaN
9      San Jose        15.5                 NaN             62500.0

### Task 18
Save the DataFrame (temperatures) as a CSV file using the pandas to_csv() method. Name the file ('task31.csv')

In [ ]:
temperatures.to_csv("task31.csv", index=False)

### Task 19
You will be using the pandas and numpy library for the tasks below. The dataset (.csv) is attached with the task.
#### 1.	Import the libraries numpy and pandas.
#### 2.	Upload car_prices.csv (use pd.read_csv(file_path) to read this file)
#### 3.	Display the last 5 rows
#### 4.	Display the following columns with last 5 rows
#### 	body,
#### 	state,
#### 	interior,
#### 	seller
#### 5.	How many models of vehicle are there in record?
#### 6.	Print the name of all the columns present in your dataset
#### 7.	Enlist all vehicles that are made after 2015?
#### 8.	Compute and print the total selling price of all the vehicles in the dataset.
#### 9.	Which is the most expensive vehicle in the dataset?
#### 10.	 Which make is the most popular?

In [ ]:
import pandas as pd
import numpy as np

file_path = "car_prices.csv"
cars = pd.read_csv(file_path)

print(cars.tail())
print(cars[['body', 'state', 'interior', 'seller']].tail())

num_models = cars['model'].nunique()
print("Number of vehicle models:", num_models)

print("Columns in dataset:", cars.columns.tolist())

vehicles_after_2015 = cars[cars['year'] > 2015]
print(vehicles_after_2015)

total_price = cars['sellingprice'].sum()
print("Total selling price of all vehicles:", total_price)

most_expensive = cars.loc[cars['sellingprice'].idxmax()]
print("Most expensive vehicle:\n", most_expensive)

most_popular_make = cars['make'].mode()[0]
print("Most popular make:", most_popular_make)

        year    make     model               trim       body transmission  \
113049  2012  Subaru  Forester               2.5X        SUV    automatic
113050  2012   Scion        xD               Base  Hatchback    automatic
113051  2012  Toyota     Camry                 LE      Sedan    automatic
113052  2012  Subaru   Impreza  2.0i Premium PZEV      Sedan    automatic
113053  2012  Toyota     Camry                 LE      Sedan    automatic

                      vin state  condition  odometer  color interior  \
113049  jf2shbbc2ch421102    tx       41.0   45350.0  white     gray
113050  jtkku4b46c1026629    ca       41.0   47699.0    red    black
113051  4t4bf1fk1cr199385    va       36.0   48981.0    red      tan
113052  jf1gjab62ch007496    pa       36.0   32758.0   blue      tan
113053  4t4bf1fk4cr181687    fl        4.0   25936.0    red    beige

                                  seller    mmr  sellingprice  \
113049          jpmorgan chase bank n.a.  15150         15700
113050       wells fargo dealer services  10700         11400
113051               c&f finance company  12200         12600
113052          jpmorgan chase bank n.a.  14500         14700
113053  world omni financial corporation  13650         13300

                                       saledate
113049  Wed Jan 14 2015 02:15:00 GMT-0800 (PST)
113050  Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
113051  Wed Jan 14 2015 01:30:00 GMT-0800 (PST)
113052  Wed Jan 14 2015 01:30:00 GMT-0800 (PST)
113053                                     Tue
             body state interior                            seller
113049        SUV    tx     gray          jpmorgan chase bank n.a.
113050  Hatchback    ca    black       wells fargo dealer services
113051      Sedan    va      tan               c&f finance company
113052      Sedan    pa      tan          jpmorgan chase bank n.a.
113053      Sedan    fl    beige  world omni financial corporation
Number of vehicle models: 890
Columns in dataset: ['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state', 'condition', 'odometer', 'color', 'interior', 'seller', 'mmr', 'sellingprice', 'saledate']
Empty DataFrame
Columns: [year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate]
Index: []
Total selling price of all vehicles: 1409670369
Most expensive vehicle:
 year                                               2012
make                                            Ferrari
model                                        California
trim                                               Base
body                                        Convertible
transmission                                  automatic
vin                                   zff65lja1c0183418
state                                                fl
condition                                          45.0
odometer                                         8149.0
color                                            silver
interior                                            red
seller                                   the collection
mmr                                              156000
sellingprice                                     156000
saledate        Thu Dec 18 2014 09:15:00 GMT-0800 (PST)
Name: 35867, dtype: object
Most popular make: Ford

<h2 style="color:red;text-align: center;">Bas ya or???</h2>