In [ ]:
num = int(input("Enter a number: "))

if num % 13 == 0:
    print(num, "is a multiple of 13")
else:
    print(num, "is not a multiple of 13")

Enter a number: 79
79 is not a multiple of 13

In [ ]:
numbers = []

for i in range(5):
    n = int(input(f"Enter number {i+1}: "))
    numbers.append(n)

print("The smallest number is:", min(numbers))

Enter number 1: 4
Enter number 2: 3
Enter number 3: 2
Enter number 4: 6
Enter number 5: 4
The smallest number is: 2

In [ ]:
for i in range(500, 119, -1):
    if i % 2 == 0:
        print(i, end=" ")

500 498 496 494 492 490 488 486 484 482 480 478 476 474 472 470 468 466 464 462 460 458 456 454 452 450 448 446 444 442 440 438 436 434 432 430 428 426 424 422 420 418 416 414 412 410 408 406 404 402 400 398 396 394 392 390 388 386 384 382 380 378 376 374 372 370 368 366 364 362 360 358 356 354 352 350 348 346 344 342 340 338 336 334 332 330 328 326 324 322 320 318 316 314 312 310 308 306 304 302 300 298 296 294 292 290 288 286 284 282 280 278 276 274 272 270 268 266 264 262 260 258 256 254 252 250 248 246 244 242 240 238 236 234 232 230 228 226 224 222 220 218 216 214 212 210 208 206 204 202 200 198 196 194 192 190 188 186 184 182 180 178 176 174 172 170 168 166 164 162 160 158 156 154 152 150 148 146 144 142 140 138 136 134 132 130 128 126 124 122 120

In [ ]:
tup = (2, 4, 1, 5, 6, 11, 9, 10, 3, 6, 100, 44, 40, 20)
x = int(input("Enter number to search: "))

found = False
for i in tup:
    if i == x:
        found = True
        break

if found:
    print(x, "found in tuple")
else:
    print(x, "not found in tuple")

Enter number to search: 4
4 found in tuple

In [ ]:
lst = [2, 4, 1, 5, 6, 11, 9, 10, 3, 6, 100, 44, 40, 20]

for item in lst:
    print(item)

2
4
1
5
6
11
9
10
3
6
100
44
40
20

In [ ]:
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by both 3 and 5")
else:
    print("The number is not divisible by both 3 and 5")

Enter a number: 4
The number is not divisible by both 3 and 5

In [ ]:
total = 0

for i in range(1, 21, 2):  # Step by 2 to get only odd numbers
    total += i

print("Sum of odd numbers between 1 and 20:", total)

Sum of odd numbers between 1 and 20: 100

In [ ]:
while True:
    num = int(input("Enter a number (negative to stop): "))
    if num < 0:
        break
    print("Square:", num ** 2)

Enter a number (negative to stop): 4
Square: 16
Enter a number (negative to stop): -4

In [ ]:
n = int(input("Enter a number: "))

count = 0
temp = abs(n)  # handle negative numbers

if temp == 0:
    count = 1
else:
    while temp > 0:
        temp //= 10
        count += 1

print("Total digits:", count)

Enter a number: 78
Total digits: 2

In [ ]:
 n = int(input("Enter a number: "))

reverse = 0
while n > 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n //= 10

print("Reversed number:", reverse)

Enter a number: 56
Reversed number: 65

In [ ]:
for i in range(1, 4):
    print("*" * i)

*
**
***

In [ ]:
for i in range(1, 10):
    if i == 4:
        continue
    if i == 8:
        break
    print(i)

1
2
3
5
6
7